name: Upload Changed Files to EC2

on:
  push:
    branches:
      - main

defaults:
    run:
        shell: bash

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Get list of changed files
      id: getfile
      run: |
        echo "CHANGED_FILES<<EOF" >> $GITHUB_ENV
        git diff --name-only HEAD^ HEAD >> $GITHUB_ENV
        echo "EOF" >> $GITHUB_ENV

    - name: Upload changed files to EC2
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "${{ env.CHANGED_FILES }}"
        target: "/tmp"
