name: Upload to EC2

on:

  workflow_dispatch:

  # push:
  #   branches:
  #     - main

defaults:
    run:
        shell: bash

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Upload to EC2
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "./*"
        target: "/tmp"
        